:root {
    --main-text-color: #EFF6EE;
    --header-text-color: #EFF6EE;
    --main-bg-color: #1D4433;
    --link-color: #FF92C2;
  }
  
  .navbar {
    overflow: hidden;
    background-color: var(--main-bg-color);
    width: 100%;
    margin: auto;
    justify-content: start;
    display: flex;
  }
  .navbar li {
    float: left;
    margin: 10px 0;
    padding: 10px;
  }
  .navbar ul {
    list-style-type: none;
    overflow: hidden;
    justify-content: unset;
    display: flex;
  }

  .header {
    margin: auto;
    width: 50%;
    padding: 10px;
  }


  body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: calc(15px + 0.390625vw);
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  h1 {
    color: var(--header-text-color);
    font-size: calc(32px + 0.390625vw);
    text-align: center;
    font-family: "Playfair Display", serif;
  }

  h2 {
    color: var(--header-text-color);
    font-size: calc(18px + 0.390625vw);
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  
  a {
    color: var(--link-color);
    text-decoration: none;
  }

  .content {
    text-align: center;
  }

  .content ul {
    display: inline-block;
    text-align: left;
  }

  .secret {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding:2px;
    font-size: 16px;
  }
