:root {
    --main-text-color: #EFF6EE;
    --header-text-color: red;
    --main-bg-color: #1D4433;
    --link-color: #000075;
  }
  
  .header {
    margin: auto;
    width: 80%;
  }

  body {
    width: 808.5pt;
    background-image: url('grid.gif');
    font-family: "Times New Roman";
    color: black;
    font-size: 36.0pt;
    text-align: center;
    border-right: solid windowtext 1.0pt;
    margin: auto;
    }

  h1 {
    font-size: 72.0pt;
    color: #000075;
    text-align: center;
    font-family: 'Times New Roman';
  }

  h2 {
    color: var(--header-text-color);
    font-size: 32pt;
    text-align: center;
    font-family: 'Times New Roman';
  }
  
  a {
    color: var(--link-color);
  }

  .content {
    text-align: center;
  }

  .content ul {
    display: inline-block;
    text-align: left;
  }